@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Borks</h1>
    <p class="lead">Welcome to the Borked app.  This will let you add items and update the status if they are borked or not.</p>
    <p><a href="/bork" class="btn btn-primary btn-lg">Continue &raquo;</a></p>
</div>