@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Borks</h1>
    <p class="lead">Bork bork bork bork bork bork bork bork bork bork bork bork bork bork bork. Bork bork bork bork bork bork bork bork bork bork bork bork bork bork bork.</p>
    <p><a href="/bork" class="btn btn-primary btn-lg">Borks &raquo;</a></p>
</div>